body {
  margin: 0;
  background-color: #FFFF66;
}
/* Header Section */
#main-header {
  height: 200px;
  background-color: #5a5a5a;
}

#title h1 {
  font-family: 'Monda', sans-serif;
  margin-bottom: 0px;
  color: #FFFF66;
}
#title h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
}
nav ul{
  display: flex;
  padding-left: 20px;
}
nav li {
  padding: 10px;
  list-style: none;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

.template {
  display: none;
  width: 200px;
}
/* Main Section of Blog */

/* Footer */
