body {
  margin: 0;
  background-color: #FFFF66;
}
/* Header Section */
header {
  height: 200px;
  background-color: #5a5a5a;
}

#title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 10px;
}
#title h1 {
  font-family: 'Monda', sans-serif;
  margin-bottom: 0px;
  color: #FFFF66;
  text-shadow: 1px 1px #000;
}
#title h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
  margin-top: 0px;
}
nav ul{
  display: flex;
  padding-left: 20px;
}
nav li {
  padding: 10px;
  list-style: none;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

/* Main Section of Blog */

/* Footer */
